*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/
_posts/.obsidian/app.json
_posts/.obsidian/appearance.json
_posts/.obsidian/core-plugins.json
_posts/.obsidian/hotkeys.json
_posts/.obsidian/workspace
_posts/.obsidian/page-preview.json
_posts/.obsidian/graph.json
